img {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .imgA1 {
    z-index: 1;
  }
  .imgB1 {
    z-index: 2;
  }
  .imgC1 {
    z-index: 3;
  }
  .imgD1 {
    z-index: 4;
  }
  .imgF1 {
    z-index: 5;
  }


.center {
    position: fixed;
    object-position: center;
    top: 15%;
    left: 33%;
    margin-left: auto;
    margin-right: auto;
    /* bring your own prefixes */
  }
.center2 {
    position: fixed;
    object-position: center;
    top: 46%;
    left: 40.5%;
    margin-left: auto;
    margin-right: auto;
    /* bring your own prefixes */
  }
.center3 {
    position: fixed;
    object-position: center;
    top: 55%;
    left: 45%;
    margin-left: auto;
   margin-right: auto;
   /* bring your own prefixes */
  }
.center4 {
    position: fixed;
    object-position: center;
   top: 61%;
    left: 42%;
   margin-left: auto;
   margin-right: auto;
    /* bring your own prefixes */
  }
.titlefont {
 font-family: 'Titan One';
 font-size: 50px;
 color: rgb(233, 152, 199);
}
.titlefont2 {
  font-family: 'Mallanna';
  font-size: 20px;
  color: rgb(233, 152, 199);
 }